<template name="footer">
<div style="position: absolute;bottom:0px;width:100%" class="ui padded grid">
  <div class="black row">
    <div class="column">
      <h2 class="ui inverted header">{{ status }}</h2>
      <p>Random: {{forms}} </p>
    </div>
  </div>
</div>
</template>
