<template name="main">

<div class="pusher">
  <div class="full height">
    <div style="padding:40px" class="main container">
      <div class="ui block header">
        <i class="settings icon"></i>
        <div class="content">
          Main
          <div class="sub header">Explain some stuff here</div>
          <img src="{{session 'picture'}}" /> 
        </div>
      </div>

      <div class="ui top padded grid stackable eight column row">
        <div class="ui raised segment eight wide column">
          <a class="ui ribbon label" href="/templates/2HJSWtjRoBcPHoJLX">Policies</a>
          <p>Put policy link here</p>
          <a class="ui blue ribbon label cameratest">Camera Test</a>
          <p>Click me for a camera test.</p>
          <a class="ui teal ribbon label formslabel">Forms</a>
          <p>Here we find forms</p>
          <a class="ui red ribbon label" href="/templates"> Templates</a>
          <p>And here we have a list of templates</p>
        </div>
      </div>

    </div>
  </div>
</div>

</template>
