<template name="templates">
<div class="pusher">
  <div class="full height">
    <div style="padding:40px" class="main container">
      {{> reactiveTable settings=settings class="ui table" }}
      <a href="/">back</a>
    </div>
  </div>
</div>
</template>

<template name="templateId">
<span class="seek">{{_id}}</span>
</template>

<template name="template">
<div style="padding:40px" class="main container">
  <div class="ui relaxed divided items">
    <div class="item">
      <div class="ui small image">
        <img src="http://semantic-ui.com/images/wireframe/image.png">
      </div>
      <div class="content">
        <a class="header">{{ name }}</a>
        <div class="meta">
          <a>Created: {{ localeDate created }}</a>
          <br/>
          <a>Modified: {{ localeDate modified }}</a>
        </div>
        <div class="description">
          A description which may flow for several lines and give context to the content.
        </div>
        <div class="extra">
          <div class="ui right floated primary button">
            Primary
            <i class="right chevron icon"></i>
          </div>
          <div class="ui label">Limited</div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
